<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/activation.css">
<div class="wrapper">
	<div class="container">
		<img src="/assets/espark_logo.png" alt="">
		<div class="subject">HRMS | eSparkBiz | Activation Link</div>
		<div class="arrow"></div>
		<div class="message">
			<div>
				Thank you for registering with us, let's activate your account.</div>
		</div>
		<div class="activation__link">
			<div>
				Check this email <br>
				<b><%= email %></b> <br>
				 for the activation of your account.
			</div>
			<br>
		</div>
		<div class="activation__footer">
			Thank you. Sincerely.
			<br /> The HR team, eSparkBiz
			<br />
		</div>
	</div>
</div>