
<aside class="sidebar" id="sidebar">

    <!-- top sidebar -->
    <div class="sidebar__header">
        <div class="sidebar__logo">
            <img class="sidebar__image" src="/assets/logo.png" alt="logo_admin">
            <h2 class="sidebar__title"> <span class="text--danger">Esparkbiz</span></h2>
        </div>

        <div class="sidebar__close" id="close-btn">
            <span class="material-icons-sharp">close</span>
        </div>
    </div>

    <!-- content sidebar -->
    <div class="sidebar__content">

        <a class="sidebar__item sidebar__item--active" href="#">
            <span class="material-icons-sharp sidebar__item-icon sidebar__item-icon--active">grid_view</span>
            <h3 class="sidebar__item-text">Dashboard</h3>
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-symbols-outlined">person_search</span>
            <h3 class="sidebar__item-text">Hotline</h3>
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-symbols-outlined">calendar_month</span>
            <h3 class="sidebar__item-text">Calender</h3>
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-symbols-outlined">newspaper</span>
            <h3 class="sidebar__item-text">News</h3>
            <span class="sidebar__message-count">26</span>
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-symbols-outlined">schedule</span>
            <h3 class="sidebar__item-text">Attandance</h3>
            
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-icons-sharp sidebar__item-icon">inventory</span>
            <h3 class="sidebar__item-text">Leaves</h3>
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-symbols-outlined">forum</span>
            <h3 class="sidebar__item-text">Sensation</h3>
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-icons-sharp sidebar__item-icon">settings</span>
            <h3 class="sidebar__item-text">Settings</h3>
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-icons-sharp sidebar__item-icon">logout</span>
            <h3 class="sidebar__item-text">Logout</h3>
        </a>

    </div>
</aside>
