
.container{
    padding: 30px;
    background-color: #e6ecf5;
}
.tab-content {
    margin-top: -1px;
    background: #fff;
    /* border: 1px solid #c8ced3; */
    border-radius: 5px;
}

.tab-container {
    padding: 15px;
}

.tab-pane{
    padding: 20px;
}

.nav-tabs .nav-link{
    color: black;
}


.row {
    display: grid;
    grid-template-columns: 50% 50%;
}

.col {
    margin-right: 16px;
}

.col1 div {
    display: flex;
    flex-direction: column;
}

.col2 div {
    display: flex;
    flex-direction: column;
}

.card {
    margin-bottom: 1.5rem;
    
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    position: relative;
}

.form-control{
    border: 1px solid #eee;
    color: #5c6873;;
}

.card-header{
    /* background-color: #5c6873; */
    background-image: linear-gradient(to right bottom,#132f4c,#123957,#0e4363,#084e6e,#005978);
    color: white;
    /* font-size: 16px; */
}
.card-header h4{
    font-size: 16px;
}
.card-footer{
    display: flex;
    justify-content: space-between;
}
.card-footer div button{
    color: #002f4b;
    
}
.card-footer .update{
    border-radius: 10px;
    background-image: linear-gradient(to right bottom,#132f4c,#123957,#0e4363,#084e6e,#005978);
    color: #fff;
    padding: 8px 20px
}

/* -------------------------documentation-------------------------------- */

.row{
    display: grid;
    grid-template-columns: 50% 50%;
}
.col{
    display: flex;
    flex-direction: column;
}

input{
    border: 1px solid #c8ced3;
    border-radius: 5px;
    padding: 5px;
}
input[type= button]{
    color: white;
    background-image: linear-gradient(to right bottom,#132f4c,#123957,#0e4363,#084e6e,#005978);
    width: 100px;
    border-radius: 15px;

}



.container {
    width:1170px;
    margin: 0 auto;
    }
    .basic-info {
    border: 1px solid rgba(0,0,0,0.4);
    /* height:300px; */
    margin-top: 2rem;
    }
    .all{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    }
    .image{
    width:18%;
    border: 1px solid rgba(0,0,0,0.4);
    }
 
    .photo input {
    margin-left: 1rem;
    }
   
    .info {
    width: 78%;
    border: 1px solid rgba(0,0,0,0.4);
    margin-left: 2rem;
    }
    .info label {
    width: 100%;
    margin-top: 1rem;
    }
    .in-width{
    width: 80%;
    margin-top: 4px;
    }
    .form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    }
    .part{
    width:50%;
    padding-left:1rem;
    padding-bottom: 1rem;
    }
    .wfh {
        margin-right: 1rem;
    }
    .toggle{
        display: flex;
    }
    .work{
        margin-left: 10px;
    }
    /* ----------------------------social--------------------------
     */
     .social-network {
        border: 1px solid rgba(0,0,0,0.4);
        height:300px;
        margin-top: 2rem;
        }
        .content {
    background-image: linear-gradient(to right bottom,#132f4c,#123957,#0e4363,#084e6e,#005978);

        color:white;
        height: 40px;
        
        }
        .content p{
        margin-left: 1rem;
        padding-top: 8px;
        }
        .media {
        display: flex;
        flex-wrap: wrap;
        width:100%;
        }
        .media-1{
        width:50%;
        
        }
        .media-1 label{
        width:100%;
        margin-left:1rem;
        margin-top: 2rem;
        }
        .media-1 input{
        width:80%;
        height: 30px;
        margin-left: 1rem;
        border: 1px solid rgba(0,0,0,0.4);
        }
        .submit{
        margin-top:1rem;
        float: right;
        }
        .submit input{
        background-color: skyblue;
        color: white;
        font-size: larger;
        font-weight: bold;
        padding: 0.5rem;
        }
        



