.message-header{
    display: flex;
    align-items: center;
    gap: 20px;
}

.msg-img img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.msg-owner{
    font-size: 19px;
    font-weight: 600;
}

.messages-container{
    padding: 10px;
}

.message{
    border: 1px solid #bbd3ff;
    padding: 15px;
    background: #fbfbfb;
    border-radius: 10px;
    margin: 10px;
}

.msg-content{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.msg-time{
    font-weight: 500;
    color: gray;
}

.card{
    min-height: 87vh;
}

#input-message{
    padding: 15px;
    font-family: "Poppins";
    border-radius: 15px;
}
#send-button{
    background-color: rgb(24, 111, 209);
    color: white;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 10px;
}
.text-send{
    display: grid;
    grid-template-columns: 90% 10%;
}