<aside class="sidebar" id="sidebar">

    <!-- top sidebar -->
    <div class="sidebar__header">
        <img class="sidebar__image" src="/assets/espark_logo.png" alt="logo_admin">
        
    </div>
    <div class="sidebar__close" id="close-btn">
        <span class="material-icons-sharp">close</span>
    </div>
    <!-- content sidebar -->
    <div class="sidebar__content">

        <a class="sidebar__item sidebar__item--active" href="#">
            <span class="material-icons-sharp sidebar__item-icon sidebar__item-icon--active">grid_view</span>
            <h3 class="sidebar__item-text">Dashboard</h3>
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-symbols-outlined sidebar__item-icon">person_search</span>
            <h3 class="sidebar__item-text"><a href="/employee-form">Hotline</a></h3>
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-symbols-outlined sidebar__item-icon">calendar_month</span>
            <h3 class="sidebar__item-text">Calender</h3>
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-symbols-outlined sidebar__item-icon">newspaper</span>
            <h3 class="sidebar__item-text">News</h3>
            <!-- <span class="sidebar__message-count">26</span> -->
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-symbols-outlined sidebar__item-icon">schedule</span>
            <h3 class="sidebar__item-text">Attandance</h3>

        </a>

        <a class="sidebar__item" href="#">
            <span class="material-icons-sharp sidebar__item-icon">inventory</span>
            <h3 class="sidebar__item-text">Leaves</h3>
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-symbols-outlined sidebar__item-icon">forum</span>
            <h3 class="sidebar__item-text">Sensation</h3>
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-icons-sharp sidebar__item-icon">settings</span>
            <h3 class="sidebar__item-text">Settings</h3>
        </a>

        <a class="sidebar__item" href="#">
            <span class="material-icons-sharp sidebar__item-icon">logout</span>
            <h3 class="sidebar__item-text">Logout</h3>
        </a>

    </div>
</aside>
<!-- END OF SIDEBAR -->
